[submodule "stm32-ld-scripts"]
	path = stm32-ld-scripts
	url = git@github.com:antongus/stm32-ld-scripts.git
[submodule "startup"]
	path = startup
	url = https://github.com/emb-lib/arm-none-eabi-startup.git
[submodule "Baselibc"]
	path = Baselibc
	url = https://github.com/legath/mynewt-libconly.git
